//-
    name: input
    description: Инпут
    arguments:
        - {object} props - Свойства блока.
        - {string} props.labelText - Заголовок Инпута.
        - {string} props.placeholder - Плейсхолдер
        - {string} props.errorText - Текст ошибки
        - {boolean} props.isDisabled  - Активный инпут?
        - {boolean} props.required  - Обязательный?
        - {boolean} props.areaInput  - Заменяет инпут на textarea
        - {boolean} props.multiline - Используется , когда (areaInput:true)

mixin input(props = {})
  -
    const classNames = [
      (props.errorText ? 'input-text-o--error' : ''),
      (props.isDisabled ? 'input-text-o--disabled': ''),
      (props.areaInput ? 'input-text-o--area' : '')
    ].filter(className => className !== '').join(' ')
  +b.input-text-o(class=classNames data-error = "")
    if (props.labelText)
      +e.LABEL.label-text= props.labelText
    if (!props.isDisabled)
      if (props.multiline)
          +e.TEXTAREA.control(
          type='input'
          placeholder=props.placeholder
          required=props.required && "required"
        )
      else   
        +e.INPUT.control(
          type='input'
          placeholder=props.placeholder
          required=props.required && "required"
        )
    else
      +e.INPUT.control(
        disabled
        type='input'
        placeholder=props.placeholder
      )
    if (props.errorText)
      +e.error-text= props.errorText
