//-
    name: rating-scale
    description: Шкала рейтинга
    arguments:
        - {object} props - Свойства блока.
        - {Array.isArray=True} props.range - Количество баллов рейтинга
  
mixin rating-scale(props = {})
    - const nameId = generateRandomId();
    - const starList = props.range
    +b.rating(data-scale=nameId)
      each item in starList
        - const randomId = generateRandomId();
          // Убрать полосу после последнего элемента
        if (item !== starList[0]) 
         +e.line-val(data-value=item)
        else
          +e.line-val(data-value=item, style='display:none')
        +e.center
          +e.INPUT(type='radio', name=`rating-${nameId}`, value=item + '' id=`${randomId}-stars`)
          +e.LABEL(for=`${randomId}-stars` data-color=item data-required=4)
           p #{item}
        
     
